# Секреты и конфигурация
.env
*.key
*.pem

# База данных и архивы
*.db
Archive.db
Exports_data/
exports/
ffmpeg/
# Куки и списки сотрудников
cookies*.txt
coockie*.txt

# Python / IDE / Venv
__pycache__/
*.pyc
*.pyo
.venv/
.vscode/
.idea/
*.egg-info/
dist/
build/


# Система
.DS_Store
Thumbs.db
Archive.db-shm
Archive.db-wal