# Секреты и конфигурация
.env
*.key
*.pem

# База данных и архивы
*.db
vk_archive.db
vk_archive_data/
exports/
ffmpeg/
# Куки и списки сотрудников
cookies*.txt
coockie*.txt
employees*.xlsx

# Python / IDE / Venv
__pycache__/
*.pyc
*.pyo
.venv/
.vscode/
.idea/
*.egg-info/
dist/
build/


# Система
.DS_Store
Thumbs.db